.App {
  text-align: center;
  margin: 2%;
}

Body {
  background-color: #F6EDD9;
}

.selected {
  color: green;
}

.items {
  display: block;
  width: 25%;
  margin: auto;
  padding: 2em;
}

#submitted-response {
  margin: 2em;
  font-size: 2em;
}
